<div class="grid">
  <div class="col-12">
    <input
      type="text"
      pInputText
      placeholder="Search by title or author"
      [formControl]="searchControl"
      class="mb-3 mt-3 w-full md:w-3" />
  </div>

  <div class="col-12 md:col-6">
    <ng-container *ngIf="filteredBooks$ | async as books">
      <div class="mb-2">
        <p-table
          [value]="books"
          (onRowSelect)="onRowSelect($event)"
          selectionMode="single"
          class="p-datatable p-datatable-gridlines mb-2">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Author</th>
              <th>Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-book>
            <tr [pSelectableRow]="book">
              <td>{{ book.id }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.description }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </ng-container>
  </div>

  <div class="col-12 md:col-6">
    <ng-container *ngIf="selectedBook$ | async as book">
      <p-card
        header="{{ book.title }}"
        subheader="{{ book.author }}"
        styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img
            [src]="book.coverImage"
            alt="{{ book.title }}"
            class="book-image" />
        </ng-template>
        <p>{{ book.description }}</p>
      </p-card>
    </ng-container>
  </div>
</div>
