<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="text"
          id="username"
          pInputText
          formControlName="username" />
        <label for="username">Username</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="password"
          id="password"
          pInputText
          formControlName="password" />
        <label for="password">Password</label>
      </span>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      pButton
      label="Login"
      class="p-mt-2"></button>
  </form>
</div>
