.sidebar-item {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d6d6d6;
  }
}